<!doctype html>
<html>
  <head>
    {% include head.html %}
    {% feed_meta %}
  </head>
  <body>

    <!-- header -->
    {% include header.html %}

    <div class="container">
      <div class="row">

        <!-- Sidebar -->
        <div class="sidebar-parent col-md-3 d-sm-none d-none d-md-block d-lg-block">
          {% include sidebar.html %}
        </div>

        <!-- Content -->
        <div class="col-md-9 col-sm-12 ml-auto">
          {{ content }}
          <br><br><br>
          <p class="rss-subscribe text-right">Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via Atom</a></p>
        </div>

      </div>
    </div>

    <!-- footer -->
    {% include footer.html %}
  </body>
</html>
